%h1 Listing wish_lists

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @wish_lists.each do |wish_list|
      %tr
        %td= link_to 'Show', wish_list
        %td= link_to 'Edit', edit_wish_list_path(wish_list)
        %td= link_to 'Destroy', wish_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Wish list', new_wish_list_path
