.owl-carousel
  - bestsellers.each_with_index do |book|
    %div.item.active
      = image_tag book.cover
      .bookie
        = link_to book.title, book 
        = "$" +book.price.to_s
      =render 'home/add_book', book: book
