%p#notice
  = notice

%h3 Orders

%h4{style: "border-bottom:1px solid black"} In progress
%br
%table.table.table-bordered
  %thead
    %tr
      %td{style:"text-align:center; width:500px"} Book
      %td Price
      %td{style:"text-align:center"} Qty
      %td{style:"text-align:center"} Total
  %tbody
    -current_user.current_order.order_items.each do |order_item|
      %tr
        %td{style:"display:block"}
          %div{style:"float:left; width:100px"}
            =image_tag order_item.book.cover.thumb, class:"style-image"
          %div{style:"float:left; min-width:400px"}
            %p
              %b
                =order_item.book.title
            %p
              =order_item.book.description
        %td
          =order_item.book.price.round(2)
        %td
          =order_item.quantity
        %td
          =order_item.price.round(2)
  %tfoot
    %tr
      %td{colspan: 4, style:"text-align:right"}
        SUBTOTAL:
        =current_user.current_order.total_price

%h4{style: "border-bottom:1px solid black"} Waiting for processing
%table.table.table-bordered
  %thead
    %tr
      %td{style:"text-align:center; width:500px"} Number
      %td Completed at
      %td{style:"text-align:center"} Total
      %td
  %tbody
    -Order.where(state: "in_queue", user_id: current_user.id).each do |order|
      %tr
        %td
          =order.id
        %td
          =order.updated_at
        %td
          =order.total_price.round(2)
        %td
          =link_to "View", order
    
%h4{style: "border-bottom:1px solid black"} In delivery
%table.table.table-bordered
  %thead
    %tr
      %td{style:"text-align:center; width:500px"} Number
      %td Completed at
      %td{style:"text-align:center"} Total
      %td
  %tbody
    -Order.where(state: "in_delivery", user_id: current_user.id).each do |order|
      %tr
        %td
          =order.id
        %td
          =order.updated_at
        %td
          =order.total_price.round(2)
        %td
          =link_to "View", order
%h4{style: "border-bottom:1px solid black"} Delivered
%table.table.table-bordered
  %thead
    %tr
      %td{style:"text-align:center; width:500px"} Number
      %td Completed at
      %td{style:"text-align:center"} Total
      %td
  %tbody
    -Order.where(state: "delivered", user_id: current_user.id).each do |order|
      %tr
        %td
          =order.id
        %td
          =order.updated_at
        %td
          =order.total_price.round(2)
        %td
          =link_to "View", order