%li
  =d.label :fristname, "First name"
  =d.text_field :firstname, class: 'form-control', placeholder:"First name"
%li
  =d.label :lastname, "Last name"
  =d.text_field :lastname, class: 'form-control', placeholder:"Last name"
%li
  =d.label :adress, "Adress"
  =d.text_field :adress, class: 'form-control', placeholder:"Adress"
%li 
  =d.label :street, "Street"
  =d.text_field :street, class: 'form-control', placeholder:"Street"
%li
  =d.label :city, "City"
  =d.text_field :city, class: 'form-control', placeholder:"City"
%li
  =d.label :country, "Country"
  =d.collection_select :country_id, Country.all, :id, :name, {},{class: 'form-control'}
%li  
  =d.label :zipcode, "Zip code"
  =d.number_field :zipcode, class: 'form-control', placeholder:"Zip code"
%li
  =d.label :phone, "Phone"
  =d.phone_field :phone, class: 'form-control', placeholder:"Phone"