=render "step_to"
%div#lil{style:"height:560px"}
  =form_tag wizard_path, :method => 'put' do
    %div{style:'float:left; width:33.3%; height:350px '}
      %h3 Billing adress
      %ul.list-group.list-unstyled{style:"margin-top:36px"}
        =fields_for :billing_adress do |d|
          =render 'order_checkout/adresses', d: d
    %div{style:'float:left; width:33.3%; height:350px'}
      %h3 Shipping adress
      =check_box("useBilling?", '', {}, true, false)
      =label "useBilling?", "Use Billing adress"
      %ul.shipping.list-group.list-unstyled
        =fields_for :shipping_adress do |d|
          =render 'order_checkout/adresses', d: d
    %div{style:'float:right; width:33.3%; height:364px'}
      =render 'order_checkout/summary'
%div
  = submit_tag "Save and continue", class: "button_to btn btn-info"