=render "step_to"
%div#lil{style:"height:400px"}
  =form_tag wizard_path, :method => 'put' do
    %div{style:'float:left; width:33.3%; height:350px '}
      %h3 Billing adress
      %ul.list-group.list-unstyled{style:"margin-top:36px"}
        =fields_for :billing_adress do |d|
          %li
            =d.text_field :firstname, placeholder:"First name"
          %li
            =d.text_field :lastname, placeholder:"Last name"
          %li
            =d.text_field :adress, placeholder:"Adress"
          %li  
            =d.text_field :street, placeholder:"Street"
          %li
            =d.text_field :city, placeholder:"City"
          %li
            =d.collection_select :country_id, Country.all, :id, :name
          %li  
            =d.number_field :zipcode, placeholder:"Zip code"
          %li
            =d.phone_field :phone, placeholder:"Phone"
    %div{style:'float:left; width:33.3%; height:350px'}
      %h3 Shipping adress
      =check_box("useBilling?", '', {}, true, false)
      =label "useBilling?", "Use Billing adress"
      %ul.shipping.list-group.list-unstyled
        =fields_for :shipping_adress do |d|
          %li
            =d.text_field :firstname, placeholder:"First name"
          %li
            =d.text_field  :lastname, placeholder:"Last name"
          %li
            =d.text_field  :adress, placeholder:"Adress"
          %li
            =d.text_field  :street, placeholder:"Street"
          %li
            =d.text_field  :city, placeholder:"City"
          %li
            =d.collection_select :country_id, Country.all, :id, :name
          %li
            =d.number_field :zipcode, placeholder:"Zip code"
          %li
            =d.phone_field :phone, placeholder:"Phone"
    %div{style:'float:right; width:33.3%; height:364px'}
      %h3 Order summary 
      Item total:
      =@order.order_items.inject(0){|sum, item| sum+=item.quantity}
      %br
      Order total:
      $
      =number_with_precision(@order.total_price, precision: 2)
    = submit_tag "Save and continue", class: "button_to btn btn-info"