=render "step_to"
%h4 Confirm
%div{style: "float:left; width:100%"}
  %div.quater-section
    %p
      Billing adress
      =link_to "Edit", wizard_path(:adress)
    %ul.list-group.list-unstyled.tt{style:"display:block; float:left; width:30%"}
      %li
        Customer:
      %li
        Adress:
      %li
        City:
      %li
        Country:
      %li
        Phone:
    %ul.list-group.list-unstyled.tt{style:"display:block; float:left"}
      -if @billing_adress
        %li
          =@billing_adress.firstname
          =@billing_adress.lastname
        %li
          =@billing_adress.adress
          =@billing_adress.street
        %li
          =@billing_adress.city
          =@billing_adress.zipcode   
        %li
          =@billing_adress.country.name
        %li
          =@billing_adress.phone
  %div.quater-section
    %p
      Shipping adress
      =link_to "Edit", wizard_path(:adress)
    %ul.list-group.list-unstyled.tt{style:"display:block; float:left; width:30%"}
      %li
        Customer:
      %li
        Adress:
      %li
        City:
      %li
        Country:
      %li
        Phone:
    %ul.list-group.list-unstyled.tt{style:"display:block; float:left"}
    -if @shipping_adress
      %li
        =@shipping_adress.firstname
        =@shipping_adress.lastname
      %li
        =@shipping_adress.adress
        =@shipping_adress.street
      %li
        =@shipping_adress.city
        =@shipping_adress.zipcode   
      %li
        =@shipping_adress.country.name
      %li
        =@shipping_adress.phone
  %div.quater-section
    %p
      Shipments
      =link_to "Edit", wizard_path(:delivery)
    -if @order.delivery
      %p
        =@order.delivery.name
      , $
      =number_with_precision(@order.delivery.price, precision:2)
  %div{style: "float:left; width:25%"}
    Payment information
    =link_to "Edit", wizard_path(:payment)
    -if @credit_card
      %p
        Card number:
        =@credit_card.number
      %p
        Cardholder name:
        =@credit_card.firstname
        =@credit_card.lastname
      %p
        Expiration date:
        =@credit_card.expiration_month
        #{"/"}
        =@credit_card.expiration_year
%br

%table.table.table-bordered{style: "width:1015px"}
  %thead
    %tr
      %td{style:"text-align:center; width:432px"} Book
      %td{style:"text-align:center; width:50px"} Price
      %td{style:"text-align:center; width:50px"} Qty
      %td{style:"text-align:center; width:50px"} Total
  %tbody
    -@order.order_items.each do |order_item|
      %tr
        %td{style:"display:block"}
          %div{style:"float:left; width:100px"}
            =image_tag order_item.book.cover.thumb, class:"style-image"
          %div{style:"float:left; min-width:400px"}
            %p
              %b
                =order_item.book.title
            %p
              =order_item.book.description
        %td
          =order_item.book.price
        %td
          =order_item.quantity
        %td
          =number_with_precision(order_item.price*=order_item.quantity, 2)
  %tfoot
    %tr
      %td{colspan: 4, style:"text-align:right"}
        SUBTOTAL:
        =number_with_precision(@order.order_items.each.inject(0){|sum, item| sum+=item.price*item.quantity}, 2)
    %tr
      %td{colspan: 4, style:"text-align:right"}
        SHIPPING:
        -if @order.delivery
          =@order.delivery.price
    -if @order.multiplier
      %tr
        %td{colspan: 4, style:"text-align:right"}
          YOUR DISCOUNT:
          ="#{(1-@order.multiplier)*100} %"         
    %tr
      %td{colspan: 4, style:"text-align:right"}
        TOTAL:
        =number_with_precision(@order.total_price, 2)

=button_to "Place order", wizard_path, class: "btn btn-info", method: :put