%h3 Checkout
%h4 Confirm
%div{style: "float:left; width:100%"}
  %div{style: "float:left; width:25%"}
    Shipping adress
    =link_to "Edit", wizard_path(:adress)
    %p
      %p
        First name:
        =@shipping_adress.firstname
      %p
        Last name:
        =@shipping_adress.lastname
      %p
        Phone:
        =@shipping_adress.phone
      %p
        Adress:
        =@shipping_adress.adress
      %p
        Street:
        =@shipping_adress.street
      %p
        Zipcode:
        =@shipping_adress.zipcode
      %p
        City:
        =@shipping_adress.city
     
      %p
        Country:
        =@shipping_adress.country.name
  %div{style: "float:left; width:25%"}
    Billing adress
    =link_to "Edit", wizard_path(:adress)
    %p
      %p
        First name:
        =@billing_adress.firstname
      %p
        Last name:
        =@billing_adress.lastname
      %p
        Phone:
        =@billing_adress.phone
      %p
        Adress:
        =@billing_adress.adress
      %p
        Street:
        =@billing_adress.street
      %p
        Zipcode:
        =@billing_adress.zipcode
      %p
        City:
        =@billing_adress.city
     
      %p
        Country:
        =@billing_adress.country.name
  %div{style: "float:left; width:25%"}
    Shipments
    =link_to "Edit", wizard_path(:delivery)
    %p
      =@delivery.name
      , $
      =number_with_precision(@delivery.price, precision: 2)
  %div{style: "float:left; width:25%"}
    Payment information
    =link_to "Edit", wizard_path(:payment)
    %p
      Card number:
      =@credit_card.number
    %p
      Cardholder name:
      =@credit_card.firstname
      =@credit_card.lastname
    %p
      Expiration date:
      =@credit_card.expiration_month
      #{"/"}
      =@credit_card.expiration_year
%br

%table
  %thead
    %tr
      %td{style:"text-align:center; width:500px"} Book
      %td Price
      %td{style:"text-align:center"} Qty
      %td{style:"text-align:center"} Total
  %tbody
    -current_user.current_order.order_items.each do |order_item|
      %tr
        %td{style:"display:block"}
          %div{style:"float:left; width:100px"}
            =image_tag order_item.book.cover.thumb, class:"style-image"
          %div{style:"float:left; min-width:400px"}
            %p
              %b
                =order_item.book.title
            %p
              =order_item.book.description
        %td
          =order_item.book.price
        %td
          =order_item.quantity
        %td
          =order_item.price
  %tfoot
    %tr
      %td{colspan: 4, style:"text-align:right"}
        SUBTOTAL:
        =current_user.current_order.total_price

=button_to "Place order", wizard_path, method: :put