=render "step_to"
%div{style:'float:left; width:33.3%'} 
  %h3 Credit card
  =form_for :credit_card, url: wizard_path, html:{class:"card-creation"},  method: :put do |f|
    %p
      =f.number_field :number, placeholder: "Card number"
    %p
      Expiration date:
    =f.select :expiration_month, 01..12
    =f.select :expiration_year, 15..20
    %p
      =f.text_field :firstname, placeholder: "First name" 
    %p
      =f.text_field :lastname, placeholder: "Last name"
    %P  
      =f.number_field :cvv, placeholder: "CVV"
    =f.submit "Save and contunue", class: "btn btn-info"
%div{style:'float:left; width:33.3%'} 
  -if current_user.credit_cards.exists?
    =form_tag wizard_path, class: "card-selection", method: :put do |f|
      =check_box("useExistingCard?", '', {}, true, false)
      =label "useExistingCard?", "Use existing card"
      -current_user.credit_cards.each do |card|
        %p
          =radio_button_tag(:card_id, card.id)
          =card.firstname+" "+card.lastname
          %p
          =card.number
          =card.expiration_month
          ="/"
          =card.expiration_year
      =submit_tag "Save", class: "btn btn-info"

%div{style:'float:right; width:33.3%; height:100%'}
  =render 'order_checkout/summary'