-if @order && !@order.order_items.empty?
  %table.table.table-bordered
    %thead
      %tr
        %td{style:"text-align:center"} Book
        %td Price
        %td{style:"text-align:center"} Qty
        %td Total
    %tbody
      -@order_items.each do |order_item|
        %tr
          %td
            %div{style:"float:left; width:50px"}
              =image_tag order_item.book.cover.thumb, class:"style-image"
            %div{style:"float:left; min-width:400px"}
              %p
                %b
                  =order_item.book.title

              %p
                =order_item.book.description
          %td
            =order_item.book.price
          %td.some{style: "width:160px"}
            =form_for( order_item, url: "order_items/#{order_item.id}", method: "put" ) do |f|
              =f.number_field :quantity, class: "numeric integer optional form-control" 
              =f.submit "Update", class:"btn btn-success"
    %tfoot
      %tr
        %td{colspan: 4, style:"text-align:right"}
          =current_user.current_order.total_price
-else
  %h3 Your cart is empty!
%div
  =button_to "Empty cart", 'order_items/empty', class: "button btn btn-danger",  disabled: @order==nil || @order.order_items.empty?, method: :post
  =button_to "Continue shopping", root_path, method: :get, class: "btn btn-info"
  =form_for "code", url: "order_items/promocode", html: {:class => "lil"}, :method => :post do |f|
    =f.text_field :code, required: false, label: false, placeholder: 'enter code here', class: "form-control fff"
    =f.submit "Update", class: "button_to btn btn-info"
  =button_to "Checkout", order_checkout_index_path, disabled: @order==nil || @order.order_items.empty?, :method => :get, class:"btn btn-success"