// Place all the styles related to the cart_items_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book-container{


  display: block;
  width:20%;
  float: left;
}

.numeric.integer.optional{


  width:40px;
}