
.book-container{


  display: block;
  width:20%;
  float: left;
}

.quater-section{

  float:left; 
  width:250px; 
  height:150px; 
  // border-left:1px solid black;
  border-right:1px solid black;
  margin-left:2px;
  margin-right:2px
}
.li{

  margin-right:6px;
}
.numeric.integer.optional{

  display:block; float:left;

  width:70px;
}
.fl-left{
display:block;
float:left;
 margin-left:3px;
}
.fl-right{
display:block;
float:right;
 margin-right:3px;


}

.form-control.fff{
  width:200px;
  display:inline;
}
.lil{
  margin-left: 5px;
  margin-right: 5px;
 display:inline

}

.simple_form.code{

  display:inline
}

.input.string.optional.code_code{

  display:inline
}